* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
main {
    text-align: center;
    margin: 50px;
}
#game-area {
    border: 3px solid black;
    border-radius: 25px;
    padding: 20px;
}
#game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 4rem;
    color: pink;
}
button {
    background-color: #341039;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    margin: 30px 0px;
}
#button-start {
    background-color: blueviolet;
}
#button-start:hover {
    background-color: #341039;
}
#button-start:active {
    color: blueviolet;
}
#multiple-choice {
    flex-direction: column;
    width: 50%;
    margin: auto;
    display: none;
}
#validate {
    color: grey;
    font-style: italic;
}