* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
main {
    text-align: center;
    margin: 50px;
}
#game-area {
    border: 3px solid #052B15;
    border-radius: 25px;
    padding: 20px;
    min-height: 500px;
}
#game-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 4rem;
    color: #052B15;
}
#game-desc {
    padding: 0px 6rem;
}
button {
    background-color: #052B15;
    color: #E5F8F0;
    border-radius: 10px;
    border: 2px solid #052B15;
    padding: 10px 20px;
    margin: 10px;
}
button:hover {
    background-color: #E5F8F0;
    border: 2px solid #E5F8F0;
    color:#052B15
}
button:active {
    border: 2px solid #052B15;
    color: #052B15;
}
#button-start {
    margin: 30px 0px;
}


#multiple-choice {
    flex-direction: column;
    width: 50%;
    margin: auto;
    display: none;
}
#validate {
    color: grey;
    font-style: italic;
}

input[type=text]{
    border: none;
    border-bottom: 2px solid #052B15;
    padding-top: 30px;
    margin-bottom: 10px;
}